tests/__pycache__
grade/__pycache__
.pytest_cache
node_modules
.idea
venv
/test-results/report.html
/playwright-report/
/playwright/.cache/
/app/__pycache__/
.github/workflows/*.bak
.vscode
docs
.lighthouseci/